USE [master]
GO
/****** Object:  Database [AstraTechDB]    Script Date: 3/11/2026 4:28:28 PM ******/
CREATE DATABASE [AstraTechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AstraTechDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AstraTechDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AstraTechDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AstraTechDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AstraTechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AstraTechDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/11/2026 4:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/11/2026 4:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Manager] [nvarchar](150) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[IsDeleted] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/11/2026 4:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeUniqueId] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[DepartmentId] [int] NULL,
	[Location] [nvarchar](100) NULL,
	[IsActive] [tinyint] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[IsDeleted] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/11/2026 4:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsViewAccess] [tinyint] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[IsDeleted] [tinyint] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/11/2026 4:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniqueId] [nvarchar](100) NULL,
	[Name] [nvarchar](150) NULL,
	[EmailId] [nvarchar](150) NULL,
	[Gender] [nvarchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[Password] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260311012146_InitialCreate', N'10.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260311023636_AddRoleIdToUsers', N'10.0.4')
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name], [Manager], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (1, N'IT', N'John Smith', CAST(N'2026-03-11T08:30:07.247' AS DateTime), N'Admin', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Department] ([Id], [Name], [Manager], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (2, N'Human Resources', N'Sarah Johnson', CAST(N'2026-03-11T08:30:07.247' AS DateTime), N'Admin', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Department] ([Id], [Name], [Manager], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (3, N'Finance', N'Michael Brown', CAST(N'2026-03-11T08:30:07.247' AS DateTime), N'Admin', NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeUniqueId], [FirstName], [LastName], [DepartmentId], [Location], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (1, N'786ca7ff-3b67-4a3f-8f99-f7f4a26e4387', N'Raja', N'Kumar', 1, N'Chennai', 1, CAST(N'2026-03-11T10:37:54.110' AS DateTime), N'bc0bcf90-0a2a-4b7c-a9de-8fa81dbef03f', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Employees] ([Id], [EmployeeUniqueId], [FirstName], [LastName], [DepartmentId], [Location], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (2, N'2220f53a-f5ac-4eba-94c9-7f55a6d257eb', N'Ravi', N'Kumar', 1, N'Chennai', 1, CAST(N'2026-03-11T10:37:59.507' AS DateTime), N'bc0bcf90-0a2a-4b7c-a9de-8fa81dbef03f', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Employees] ([Id], [EmployeeUniqueId], [FirstName], [LastName], [DepartmentId], [Location], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (3, N'79745fbd-022e-4579-97c6-264badf56ce5', N'Vishnu', N'Priya', 4, N'Bangalore', 1, CAST(N'2026-03-11T10:38:16.363' AS DateTime), N'bc0bcf90-0a2a-4b7c-a9de-8fa81dbef03f', CAST(N'2026-03-11T10:43:07.590' AS DateTime), N'bc0bcf90-0a2a-4b7c-a9de-8fa81dbef03f', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [IsViewAccess], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (1, N'Super Admin', 1, CAST(N'2026-03-11T08:17:05.5533333' AS DateTime2), N'1', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Roles] ([Id], [Name], [IsViewAccess], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (2, N'Admin', 0, CAST(N'2026-03-11T08:17:05.5533333' AS DateTime2), N'1', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Roles] ([Id], [Name], [IsViewAccess], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [IsDeleted]) VALUES (3, N'User', 0, CAST(N'2026-03-11T08:17:05.5533333' AS DateTime2), N'1', NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UniqueId], [Name], [EmailId], [Gender], [RoleId], [Password], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'bc0bcf90-0a2a-4b7c-a9de-8fa81dbef03f', N'Aastra tech Admin', N'aastratechsuperadmin@gmail.com', N'male', 1, N'$2a$11$SdfjM/4x4iMuxHnViokmbey/uqYL.Rp9jcEb0DSAme5klUgw0J4Au', CAST(N'2026-03-11T15:57:40.823' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([Id], [UniqueId], [Name], [EmailId], [Gender], [RoleId], [Password], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'2f04b3bd-a5e6-49a9-9fc8-3c23a8bfe517', N'Default user', N'defaultuser@gmail.com', N'male', 3, N'$2a$11$yfjyRKTUKCkvW/hsra/uJeNZaIaugLPAVCixn9B4FeqyjA6vLvhCu', CAST(N'2026-03-11T16:03:07.947' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
